# .gitignore

__pycache__/
*.pyc
venv/
.env

# ChromaDB mat push karo
data/chroma_db/

# Raw data nahi chahiye
data/raw/

# Local SQLite
data/conversations.db

# Processed chunks PUSH KARO (comment out)
# data/processed/